.vscode
.dist
# ignore every folder named:
*/node_modules

# from apis folder
/apis/node_modules
/apis/key.js

# from auth folder
/auth/node_modules

# from email folder
/email/*
/email/node_modules

.env